/* html{
    background: url({{ url_for('static', filename='img/background.jpg') }}); 
    url("{{url_for('static', filename="img/background.jpg")}}");
    background-size: cover;
} */



/* Full-width input fields */
input[type=text], input[type=password], input[type=tel], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

h1{
    text-align: center;
}


.supercontainer{
    position: absolute;
    width: 50%;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
}


/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 14px 20px;
    background-color: #f44336;
}

/* styles for signin form cancelbutton */
.cancelbttn {
    width: 100%;
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* span for password box */
span.psw {
    float: right;
    padding-top: 16px;
}


