{% extends "dashboard.html" %} {% block content %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Yummy Recipies</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="{{ url_for('home' , name=name) }}">Home</a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Category
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ url_for('catcreate' , name=name) }}">Create Category</a>
                    </li>
                    <li>
                        <a href="#">View Category</a>
                    </li>
                    <li>
                        <a href="#">Edit Category</a>
                    </li>
                    <li>
                        <a href="#">Delete Category</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Recipie
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Create recipe</a>
                    </li>
                    <li>
                        <a href="#">View Recipie</a>
                    </li>
                    <li>
                        <a href="#">Edit Recipe</a>
                    </li>
                    <li>
                        <a href="#">Delete Recipe</a>
                    </li>
                </ul>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-user"></span> Sign out</a>
            </li>
        </ul>
    </div>
</nav>

<form action="" method="POST">
    <label>
        <b>Category name</b>
    </label>
    <br>
    <input type="text" name="catname">
    <br>
    <label>
        <b>Description</b>
    </label>
    <br>
    <input type="text" name="description">
    <br>
    <button type="submit" class="signupbtn">Edit</button>
</form>

{% endblock %}