<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=H">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <style type=text/css>
        background-image: url("static/img/background.jpg");
    </style>
    <h1>Sigup form </h1>

    <div class="supercontainer">
        <form action="" style="border: 1px solid #ccc">
            <div class="container">
                <label>
                    <b>First Name</b>
                </label>
                <input type="text" placeholder="Please enter first Name" name="fname" required>

                <label>
                    <b>Last Name</b>
                </label>
                <input type="text" placeholder="Please enter last Name" name="lname" required>

                <label>
                    <b>Password</b>
                </label>
                <input type="text" placeholder="Please enter last Name" name="password" required>

            </div>
            <div class="clearfix">
                <button type="button" class="cancelbtn">Cancel</button>
                <button type="submit" class="signupbtn">Sign Up</button>
            </div>
        </form>
    </div>
    <script src="/app/static/modal.js"></script>
</body>

</html>